{% extends "../base/base.html" %}

{% block title %} Session {% endblock title %}

{% block body %}
    {% include "base/alert.html" %}
    <h1>Home</h1><hr>
    <br>
    <div class="left-sidebar">
        <h1>Notes</h1>
        <ul>
            {% for note in notes %}
                <li>{{ note }}</li>
            {% endfor %}
        </ul>
    
        <form method="post">
            {% csrf_token %}
            <label for="new_note">Add a new note:</label>
            <input type="text" name="new_note" required>
            <button type="submit">Add Note</button>
        </form>
        {% if user.is_authenticated %}
        {% else %}
            <h1>Clear Session</h1><a href="/flush">clear</a>
        {% endif %}
    </div>

    <style>
        .left-sidebar{
            float: left;
            border-radius: 2px solid black;
        }

    </style>
{% endblock body %}