{% extends "../base/base.html" %}

{% block title %} Login {% endblock title %}

{% block body %}
    <section class="log-container">
        <div class="card">
            <div class="card-body">
                <h4 class="form-head">Login</h4>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "../base/alert.html" %}
                <div class="form-group">
                    <input name="username" class="form-control" placeholder="Username" type="text" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input name="password" class="form-control" placeholder="Password" type="password" required>
                </div> <!-- form-group// -->
                
                <div class="form-group">
                    <a href="#" class="float-right">Forgot password?</a>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="left btn btn-primary btn-block"> Login </button>
                </div> <!-- form-group// -->    
                </form>
            </div> <!-- card-body.// -->
            <p class="text-center">Don't have account? <a href="/signup">Sign up</a></p>
        </div> <!-- card .// --> 
    
    </section>
{% endblock body %}